hr {
    margin: 0;
}

.rodape {
    padding: 1.35em;
    color: var(--preto);
    background-color: var(--branco);
}

.lista-rodape {
    display: none;
}

.linha {
    display: none;
}

@media screen and (min-width: 1024px){
    .rodape {
        display: flex;
        justify-content: space-around;
        padding-top: 2em;
    }

    .lista-rodape {
        display: block;
    }

    .lista-rodape__item {
        display: flex;
        align-items: center;
        margin: 0.9em 0
    }

    .lista-rodape__link {
        color: var(--cinza);
        text-decoration: none;
        margin-left: 0.6em;
    }

    .lista-rodape__titulo {
        color :var(--cinza-secundario);
        font-size: 14px;
        margin: 0 0 1.5em 0;
    }

    .rodape__titulo {
        font-size: 24px;
    }

    .lista-rodape__link:hover {
        color: var(--laranja);
    }

}

@media screen and (min-width: 1728px) {
    .lista-rodape {
        border-left: 1px solid var(--cinza-secundario);
        padding-left: 1em;
    }

    .rodape {
        padding: 3.5em 0;
    }
}